<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="MySuite" parallel="methods" thread-count="1">
    <test name="demoqa_base_page_tests" preserve-order="true">
        <classes>
            <class name="rozetka.BaseTest"/>
            <class name="rozetka.HeaderTests"/>
        </classes>
    </test>
</suite>
